export(estimate_lnorm)
export(impute_from_sd)
export(impute_from_subsistence)
export(sample_from_lognormal)
importFrom(EnvStats,elnormCensored)
importFrom(EnvStats,rnormTrunc)
importFrom(stats,pnorm)
importFrom(stats,setNames)
